<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.css' />
		<link rel="icon" href="faveicon.ico">
	</head>
	<body>
		<div class='container'>
			<h1>{{ title }}</h1>
			<ul class='nav nav-tabs'>
				<li class='nav-pills' style="margin: 10px 0">
					<a href='/' class='nav-link{% if path==='/'%} active{% endif %}'>Home</a>
				</li>
				<li class='nav-pills' style="margin: 10px 0">
					<a href='/tweets' class='nav-link{% if path==='/tweets'%} active{% endif %}'>Tweets</a>
				</li>
			</ul>
			{% block content %}
			{% endblock %}
			<ul class='nav nav-tabs'>
				<li class='nav-pills' style="margin: 10px 0">
					<a href='/' class='nav-link{% if path==='/'%} active{% endif %}'>Home</a>
				</li>
				<li class='nav-pills' style="margin: 10px 0">
					<a href='/tweets' class='nav-link{% if path==='/tweets'%} active{% endif %}'>Tweets</a>
				</li>
			</ul>
		</div>
	</body>
</html>